<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorinterval="30" status="info">

    <Appenders>
        <Console name="Console">
            <PatternLayout pattern="[%p] [%d{HH:mm:ss.SSS}](%F:%L) %m%n"/>
        </Console>

        <File name="File" fileName="logs/${date:yyyy_MM_dd}.log">
            <PatternLayout pattern="[%p] [%d{HH:mm:ss.SSS}](%F:%L) %m%n"/>
        </File>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>